{% extends 'base.html' %} 

{% block content %}
<main>
    <h2>Classement de meilleurs buteurs</h2>

    <div class="input-group my-4">
        <input type="text"
               id="search-input", onkeyup="myFunction()", 
               class="form-control" 
               placeholder="Enter team" />

        <span class="input-group-text border-0 bg-transparent"  
              style="cursor: pointer;">
            <i class="fa fa-search" aria-hidden="true"></i>
        </span>
    </div>


<div class="container">
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"># Joueurs</th>
      <th scope="col">Equipe</th>
      <th scope="col">Total but(s)</th>
    </tr>
  </thead>
  <tbody>
    {% for b in buteurs %}
  
    <tr class="professeur">
      <td><span style="color: blue;">{{ forloop.counter }} ></span> {{ b.name }}</td>
      <td>{{ b.team.name }}</td>
      <td>{{ b.totalbut }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>




</main>
<script>
function myFunction() {
  // Declare variables
  var input, filter, rencontres, data, player, match, team, i;
  input = document.getElementById('search-input');
  filter = input.value.toUpperCase();
  rencontres = document.getElementsByClassName("professeur");

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < rencontres.length; i++) {
    data = rencontres[i].getElementsByTagName("td");
    player = data[0].textContent || data[0].innerText;
    team = data[1].textContent || data[1].innerText;

    if ((player.toUpperCase().indexOf(filter) > -1) || (team.toUpperCase().indexOf(filter) > -1))  {
      rencontres[i].style.display = "";
    } else {
      rencontres[i].style.display = "none";
    }
  }
}
</script>
{% endblock %}