{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="content-section">
        <form action="" method="POST">{% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Ajouter un but</legend>
                {{ form|crispy }}
            </fieldset>

            {% if user.is_staff %}
            <button class="btn btn-success mt-3 mb-3" type="submit" style="float: right;">
                <i class="fas fa-database"></i> Ajouter le but
            </button>
            {% else %}
            <p style="font-style: italic; color: brown;">Vous devez être un staff pour faire des ajouts !!!</p>
            {% endif %}
        </form>       
    </div>
{% endblock content %}